<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OrdersItemMapper">

    <select id="selectAll" resultType="com.example.entity.OrdersItem">
        select * from `orders_item`
        <where>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
        </where>
        order by id desc
    </select>

    <delete id="deleteById">
        delete from `orders_item`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.OrdersItem" useGeneratedKeys="true">
        insert into orders_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="bookId != null">book_id,</if>
            <if test="bookName != null">book_name,</if>
            <if test="bookCover != null">book_cover,</if>
            <if test="num != null">num,</if>
            <if test="orderId != null">order_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="bookId != null">#{bookId},</if>
            <if test="bookName != null">#{bookName},</if>
            <if test="bookCover != null">#{bookCover},</if>
            <if test="num != null">#{num},</if>
            <if test="orderId != null">#{orderId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.OrdersItem">
        update orders_item
        <set>
            <if test="bookId != null">
                book_id = #{bookId},
            </if>
            <if test="bookName != null">
                book_name = #{bookName},
            </if>
            <if test="bookCover != null">
                book_cover = #{bookCover},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
            <if test="orderId != null">
                order_id = #{orderId},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>